{% extends 'base.html.twig' %}

{% block title %}Gestionnaire de Compte{% endblock %}

{% block body %}
    <div id="root"></div>
    <input type="hidden" id='role' value=is_granted('ROLE_USER') />
{% endblock %}
