{% extends 'base.html.twig' %}

{% block title %}Gestionnaire de Compte{% endblock %}

{% block body %}
    {% if is_granted('ROLE_USER') %}
        <div id="root"></div>
        <input type="hidden" value="{{ is_granted('ROLE_USER') }}" id="role"/>
    {% else %}
        <div id="root" value="{{ is_granted('ROLE_USER') }}"></div>
        <input type="hidden" value="{{ is_granted('ROLE_USER') }}" id="role"/>
    {% endif %}
{% endblock %}

