{% extends 'base.html.twig' %}

{% block title %}Gestionnaire de Compte{% endblock %}

{% block body %}
    <div id="signUp"></div>
{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('SignUpApp') }}
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('SignUpApp') }}
{% endblock %}
